body{
    font-family: 'Montserrat';
}
#title {
    background-color: #ff4c68;
}

h1 {  
    font-family: 'Montserrat';
    font-size: 4rem;  
    line-height: 1.5;  
    font-weight: 900;
    color: white;
}
h2 {
    font-family: "montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-size: 1.2rem;
}

.container-fluid{
    padding: 3% 15% 7%;
}
/* navigation bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.1rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}


.nav-link{
    font-size: 1.2rem;
}

/* download buttons */
.Download-button{
    margin: 5% 3% 5% 0;
}
/* title image */

@media (max-width: 1200px){
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

@media (min-width: 1200px){
    
    .title-image{
        width: 60%;
        transform: rotate(25deg);
        position: absolute;
        right: 30%;
    }
}

/* feature */
#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.feature-button {
    color: #ef8172;
}

.feature-button:hover{
    color: #ff4c68;
}

/* Testimonial section */
#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonials-image {
     width: 15%;
     border-radius: 100%;
     margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px 20px;
}

.carousel-item{
    padding: 7% 15%;

}
/* Pricing */
.card-header {
    background-color: #F3F1F5;
}
.cardTitle {
    font-family: "Montserrat";
    font-size: 2rem;
}

.Price {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

/* cta */

#cta {
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 7% 20%;
}

.cta-heading{
    font-family: "montserrat";
    font-size: 4rem;
    line-height: 1.5;
}

/* footer */
#footer {
    margin: 100px;
}
.footer-div{
    display: flex;
    justify-content: center;
}

.social-icon {
    margin: 10px 5px;
}

.copyright {
    color: grey;
}

.ml-auto {
   text-align: right;    
}